<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include 'adminheader.html.twig' %}
<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header start -->
    {% include 'pageheader.html.twig' %}
        <!-- Page Header end -->

        <!-- Page Body start -->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
          {% include 'sidebar.html.twig' %}
            <!-- Page Sidebar Ends-->

            <div class="page-body">
                <div class="title-header">
                    <h5>Új termék </h5>
                </div>

                <!-- New Product Add Start -->
               <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                        <form action="/cipoAdd" method="POST" class="theme-form theme-form-2 mega-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Termék Információk</h5>
                                            </div>

                                            
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                           
                                                        <label class="form-label-title col-sm-2 mb-0">Termék Megnevezése</label>
                                                        <div class="col-sm-10">
                                                         <input type="text" class="form-control" name="megnevezes" id="megnevezes"  placeholder="Megnevezés" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-2 col-form-label form-label-title">Állapota</label>
                                                        <div class="col-sm-10">
                                                           	<select class="form-select" name="cipoallapot" id="cipoallapot">
					{% for allapot in allapotok %}
						<option value="{{allapot.id}}" {{ allapot.id == product.allapot_id ? 'selected':''}}>{{allapot.megnevezes}}</option>
					
					{% endfor %}
				</select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">Márka</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-select" name="marka" id="marka">
					{% for marka in markak %}
						<option value="{{marka.id}}" {{ marka.id == product.marka_id ? 'selected':''}}>{{marka.markanev}}</option>
					{% endfor %}
				</select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">Méret</label>
                                                        <div class="col-sm-10">
                                                           			<div class="form-group">
				<input type="number" class="form-control" min="0"  name="meret" id="meret"  placeholder="Méret" required>
			</div>
                                                        </div>
                                                    </div>

<div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">Ár</label>
                                                        <div class="col-sm-10">
                                                           			<div class="form-group">
				<input type="number" class="form-control" min="0" step="1" name="ar" id="ar" placeholder="Ár" required>
			</div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">Elérhető Mennyiség</label>
                                                        <div class="col-sm-10">
                         <input type="number" class="form-control" min="0" step="1" name="elerheto" id="elerheto"  placeholder="Elérhető mennyiség" required>
                                                        </div>
                                                    </div>
             <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">torolt</label>
                                                        <div class="col-sm-10">
                                                           			<div class="form-group">
<input type="checkbox" name="torolt" id="torolt" }}>		
	</div>
                                                        </div>
                                                    </div>
                                        </div>
                                                    </div>
                                                </div>
                                
                                    </div>
		
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Leírás</h5>
                                            </div>

                                        
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <label class="form-label-title col-sm-2 mb-0">Termék Leírás</label>
                                                            <div class="col-sm-10">
                                                                <input type="text"  class="form-control" name="leiras"  id="leiras"  placeholder="Termék Leírás"  required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                          
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                            
                                                <h5>Termék Képek</h5>
                                            </div>

                                          
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">Főkép</label>
                                                        <div class="col-sm-10">
                                        
                                                       <input type="file"  id="fnev" name="fnev" class="form-control form-choose" accept="fnev/jpg, fnev/jpeg, fnev/png, fnev/webp, fnev/gif"  >
                                  
                                                        </div>
                                                    </div>

                                                    <div class="row align-items-center">
                                                        <label
                                                            class="col-sm-2 col-form-label form-label-title">További Képek
                                                            </label>
                                                        <div class="col-sm-10">
                                <input type="file" id="fnev2" name="fnev2" class="form-control form-choose" accept="fnev2/jpg, fnev2/jpeg, fnev2/png, fnev2/webp, fnev2/gif"  >
                                <input type="file" id="fnev3" name="fnev3" class="form-control form-choose" accept="fnev3/jpg, fnev3/jpeg, fnev3/png, fnev3/webp, fnev3/gif"  >
                                <input type="file" id="fnev4" name="fnev4" class="form-control form-choose" accept="fnev4/jpg, fnev4/jpeg, fnev4/png, fnev4/webp, fnev4/gif" >
                                <input type="file" id="fnev5" name="fnev5" class="form-control form-choose" accept="fnev5/jpg, fnev5/jpeg, fnev5/png, fnev5/webp, fnev5/gif "  >
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                         

                                        </div>
                   
                                    </div>

                                     <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Feltöltés</h5>
                                            </div>

                                      
                                       <style>
        .Center {
 text-align: center;
  
        }

        .feltoltes{
color: white;
background-color : #484848;
width : 30%;
height : 50px;
font-size : 30px;

        }
    </style>
                                                <div class="Center" >
                                                
                                            
<button type="submit" value="Feltöltés" class="feltoltes" name="feltoltes">
<i class="fa-solid fa-floppy-disk"></i>
Feltöltés</button>                                              
</form>
   
                                          
                                                    </div>
                                                   
                                                </div>
                                   
                                    


                        
                                                </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

                <!-- footer Start -->
                <div class="container-fluid">
                    <footer class="footer">
                        <div class="row">
                           
                        </div>
                    </footer>
                </div>
                <!-- footer En -->
            </div>
            <!-- Container-fluid End -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->

    <!-- Modal Start -->
     {% include 'adminlogout.html.twig' %}
    <!-- Modal End -->

    <!-- latest js -->
    <script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script>
    <script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="../App/public/template/back-end/assets/js/config.js"></script>

    <!-- bootstrap tag-input js -->
    <script src="../App/public/template/back-end/assets/js/bootstrap-tagsinput.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script>

    <!-- customizer js -->
    <script src="../App/public/template/back-end/assets/js/customizer.js"></script>

    <!--Dropzon js -->
    <script src="../App/public/template/back-end/assets/js/dropzone/dropzone.js"></script>
    <script src="../App/public/template/back-end/assets/js/dropzone/dropzone-script.js"></script>

    <!-- Plugins js -->
    <script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/notify/index.js"></script>

    <!-- ck editor js -->
    <script src="../App/public/template/back-end/assets/js/ckeditor.js"></script>
    <script src="../App/public/template/back-end/assets/js/ckeditor-custom.js"></script>

    <!-- select2 js -->
    <script src="../App/public/template/back-end/assets/js/select2.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/select2-custom.js"></script>

    <!-- Theme js -->
    <script src="../App/public/template/back-end/assets/js/script.js"></script>

</body>

</html>