<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include 'adminheader.html.twig' %}
<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
       {% include 'pageheader.html.twig' %}
        <!-- Page Header Ends-->

        <!-- Page Body Start -->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
   {% include 'sidebar.html.twig' %}
            <!-- Page Sidebar Ends-->

            <!-- Container-fluid starts-->
            <div class="page-body">
                <div class="title-header title-header-1">
                    <h5>Felhasználók</h5>
                    <form class="d-inline-flex">
                        <a href="/adminregister" class="align-items-center btn btn-theme">
                            <i data-feather="plus-square"></i>Új Felhasználó
                        </a>
                    </form>
                </div>
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-desi">
                                            <table class="user-table table table-striped">
                                                <thead>
                                                    <tr>
                                                    <th > Felhasználó Id</th>
                                                        <th>Teljes Név</th>
                                                        <th>Email</th>
                                                        <th>Város</th>
                                                        <th>Cím</th>
                                                        <th>Törölt</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                          {% for user in alluser %}      
			<tr>
            <td style="position: absolute" width="10%">{{user.id}}</td>
				<td>{{user.nev}}</td>
				<td>{{user.email}} </td>
				<td>{{user.varosneve}} </td>
                <td>{{user.cim}} </td>
                <td>{{user.deleted ? 'Törölt': 'Nem Törölt'}} </td>
                <td>
                <a class='btn btn-danger' href='userDelete/{{user.id}}'> <i class=""></i> Töröl</a>
            </td>
                                          {% endfor %}
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>

                    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
 
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->
        </div>
        <!-- Page Body End -->

        <!-- Modal Start -->
         {% include 'adminlogout.html.twig' %}
        <!-- Modal End -->
    </div>

    <!-- latest js -->
    <script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script>
    <script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script>

    <!-- customizer js -->
    <script src="../App/public/template/back-end/assets/js/customizer.js"></script>

    <!-- Sidebar js -->
    <script src="../App/public/template/back-end/assets/js/config.js"></script>

    <!-- Plugins JS -->
    <script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script>
    <script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/notify/index.js"></script>

    <!-- all checkbox select js -->
    <script src="../App/public/template/back-end/assets/js/checkbox-all-check.js"></script>

    <!-- Theme js -->
    <script src="../App/public/template/back-end/assets/js/script.js"></script>
</body>

</html>