<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   {% include 'adminheader.html.twig' %}
   
<body onload="piechart(); barchart();">
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
      {% include 'pageheader.html.twig' %}
        <!-- Page Header Ends-->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
          {% include 'sidebar.html.twig' %}
            <!-- Page Sidebar Ends-->

            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- chart caard section start -->
                        <div class="col-sm-6 col-xxl-4 col-lg-6">
                            <div class="b-b-primary border-5 border-0 card o-hidden">
                                <div class="custome-1-bg b-r-4 card-body">
                                    <div class="media align-items-center static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0 ">Bevétel öóőáéúű  ÖÜÓŐÚÁŰÉ</span>
                                            <h4 class="mb-0 counter">

                                            
                                                {% if havibevetelek is empty %}
                                            0
                                            {% else %}
                                            {% for havibevetel in havibevetelek %}
                                            {{havibevetel.osszesen}}
                                            {% endfor %}
                                            {% endif %}
                                            
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i data-feather="database"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-4 col-lg-6">
                            <div class="b-b-danger border-5 border-0 card o-hidden">
                                <div class=" custome-2-bg  b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Rendelések Száma</span>
                                            <h4 class="mb-0 counter">{% for item in rendelesek %}
                                                {{ item.rendelesek }}
                                                {% endfor %}
                                                                                            
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i data-feather="shopping-bag"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-xxl-4 col-lg-6">
                            <div class="b-b-success border-5 border-0 card o-hidden">
                                <div class=" custome-4-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Felhasználók Száma</span>
                                            <h4 class="mb-0 counter"> {% for item in felhasznalok %}
                                                {{ item.felhasznalok }}
                                                {% endfor %}
                                           
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i data-feather="user-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chart caard section End -->


                        <!-- Earning chart star-->
                        <div class="col-xl-8">
                            <div class="card o-hidden ">
                                <div class="card-header border-0 pb-1">
                             <div class="card-header-title">
                                                <h4>Rendelés megyénként </h4>
                                            </div>
                                        </div>
                                        <div class="">
                                    
                                        <div class="align-items-left" style="width: auto; height:auto;">


                                     <canvas id="megyekchart" style=""></canvas>
                              <input type="hidden" id="minden" name="minden" value="{{ minden }}">
                    

                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
         
                        <div class="col-xxl-4 col-md-6">
                            <div class="h-100">
                                <div class="card o-hidden card-hover">
                                    <div class="card-header border-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="card-header-title">
                                                <h4>Fizetési módok</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                    
                                        <div class="align-items-left" style="width: 400px; height:300px;">
                                     <canvas id="fizetespiechart" style=""></canvas>
                                    <input type="hidden" id="utanvetel" name="utanvetel" value="{{ utanvetel }}">
                                    <input type="hidden" id="bankiatutalas" name="bankiatutalas" value="{{ bankiatutalas }}">
                                    <input type="hidden" id="onlinefizetes" name="onlinefizetes" value="{{ onlinefizetes }}">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- visitors chart end-->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Utolsó 5 megrendelés</h4>
					<div>
						<div class="table-responsive table-desi">
							<table class="table table-striped all-package">
								<thead>
									<tr>
										<th style="position: absolute">Rendelés Id</th>
										<th>Név</th>
										<th>Email</th>
										<th>Fizetésimód</th>
										<th>Cím</th>
										<th>Megjegyzés</th>
										<th>Módosít</th>
										<th>Törlés</th>
									</tr>
								</thead>
								{% for order in orders %}
									<tr>
										<td>{{order.id}}</td>
										<td>{{order.nev}}</td>
										<td>{{order.email}}</td>
										<td>{{order.megnevezes}}</td>
										<td>{{order.cim}}</td>
										<td>{{order.megjegyzes}}</td>
										<td clospan="2">
											<a class='btn btn-warning' href='orderEdit/{{order.id}}'>
												<i class=""></i>
												Módosít</a>
										</td>
										<td>
											<a class='btn btn-danger' href='orderDelete/{{order.id}}'>
												<i class=""></i>
												Töröl</a>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

                <!-- Container-fluid Ends-->


            </div>
            <!-- index body end -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    <!-- Modal Start -->
      {% include 'adminlogout.html.twig' %}
    <!-- Modal End -->

    <!-- latest js -->
    <script src="/App/Publictemplate/back-end/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/App/Publictemplate/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/App/Publictemplate/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/App/Publictemplate/back-end/assets/js/scrollbar/simplebar.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar jquery -->
    <script src="/App/Publictemplate/back-end/assets/js/config.js"></script>

    <!-- tooltip init js -->
    <script src="/App/Publictemplate/back-end/assets/js/tooltip-init.js"></script>

    <!-- Plugins JS -->
    <script src="/App/Publictemplate/back-end/assets/js/sidebar-menu.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/notify/index.js"></script>

    <!-- Apexchar js -->
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/apex-chart1.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/chart-custom1.js"></script>
    <script src="/App/Publictemplate/back-end/assets/js/chart/apex-chart/chart.js"></script>
     

    <!-- customizer js -->
    <script src="/App/Publictemplate/back-end/assets/js/customizer.js"></script>

    <!-- ratio js -->
    <script src="/App/Publictemplate/back-end/assets/js/ratio.js"></script>

    <!-- Theme js -->
    <script src="/App/Publictemplate/back-end/assets/js/script.js"></script>
</body>

</html>






