<!DOCTYPE html>
<html lang="en" dir="ltr">
	{% include 'adminheader.html.twig' %}
	<body>

		<!-- tap on top start -->
		<div class="tap-top">
			<span class="lnr lnr-chevron-up"></span>
		</div>
		<!-- tap on tap end -->

		<!-- page-wrapper start -->
		<div
			class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
			<!-- Page Header start -->
			{% include 'pageheader.html.twig' %}
			<!-- Page Header end -->

			<!-- Page Body start -->
				<div
				class="page-body-wrapper"> <!-- Page Sidebar Start-->
				{% include 'sidebar.html.twig' %}
				<!-- Page Sidebar Ends-->

				<div class="page-body">
					<div class="title-header">
						<h5>Rendelés
						</h5>
					</div>

					<!-- New Product Add Start -->

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<form action="/orderEdit" method="POST" class="theme-form theme-form-2 mega-form">
									<div class="row">
										<div class="col-sm-12">
											<div class="card">
												<div class="card-body">
													<div class="card-header-2">
														<h5>Rendelés  Információk</h5>
													</div>


													<div class="row">
														<div class="mb-4 row align-items-center">
															<input type="hidden" value="{{ orders.id }}" name="id">
															<label class="form-label-title col-sm-2 mb-0">Rendelő neve</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" name="nev" id="nev" value="{{orders.nev}}" placeholder="Név" required>

															</div>
														</div>

														<div class="mb-4 row align-items-center">
															<label class="col-sm-2 col-form-label form-label-title">Rendelés Állapota</label>
															<div class="col-sm-10">
																
																<select class="form-select" name="rendelesallapot" value="{{orders.allapot}}" id="rendelesallapot" required>
																	
																	<option value="Kézbesített" {{ 'Kézbesített' == orders.allapot ? 'selected' : '' }}>Kézbesített</option>
																	<option value="Megrendelt" {{ 'Megrendelt ' == orders.allapot ? 'selected' : '' }}>Megrendelt</option>
																	<option value="Szállítás alatt" {{ 'Szállítás alatt' == orders.allapot ? 'selected' : '' }}>Szállítás alatt</option>
																	<option value="Törölt" {{ 'Törölt' == orders.allapot ? 'selected' : '' }}>Törölt</option>
																</select>
															</div>
														</div>

														<div class="mb-4 row align-items-center">
															<label class="form-label-title col-sm-2 mb-0">Rendelő Email</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" name="email" id="email" value="{{orders.email}}" placeholder="Email" required>
															</div>
														</div>


														<div class="mb-4 row align-items-center">
															<label class="col-sm-2 col-form-label form-label-title">Fizetési Mód</label>
															<div class="col-sm-10">
																<select class="form-select" name="fizetesimod" id="fizetesimod">
																	{% for fizetesimod in fizetesimodok %}
																		<option value="{{fizetesimod.id}}" {{ fizetesimod.id == product.fizetesimod_id ? 'selected':''}}>{{fizetesimod.megnevezes}}</option>

																	{% endfor %}
																</select>
															</div>
														</div>
													</div>

													<div class="mb-4 row align-items-center">
														<label class="form-label-title col-sm-2 mb-0">Rendelés Dátuma</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" name="mikor" id="mikor" value="{{orders.mikor}}" placeholder="Idő" required>
														</div>
													</div>

													<div class="mb-4 row align-items-center">
														<label class="form-label-title col-sm-2 mb-0">Megyjegyzés</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" name="megjegyzes" id="megjegyzes" value="{{orders.megjegyzes}}" placeholder="Megjegyzes">
														</div>
													</div>
													<div class="mb-4 row align-items-center">
														<label class="col-sm-2 col-form-label form-label-title">Törölt</label>
														<div class="col-sm-10">
															<div class="form-group">
																<input type="checkbox" name="deleted" id="deleted" {{ product.deleted ? 'checked':''}}>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>


								</div>

							</div>


							<style>
								.Center {
									text-align: center;

								}

								.feltoltes {
									color: white;
									background-color: #484848;
									width: 30%;
									height: 50px;
									font-size: 30px;

								}
							</style>
							<div class="Center">


								<button type="submit" value="Feltöltés" class="feltoltes" name="orderupdate">
									<i class="fa-solid fa-floppy-disk"></i>
									Feltöltés</button>
							</form>


						</div>

					</div>


				</div>

			</div>
		</div>
	</body>
</html></div></div></div></div></div><!-- New Product Add End --><!-- footer Start --><div class="container-fluid"><footer class="footer"><div class="row"></div></div></footer></div><!-- footer En --></div><!-- Container-fluid End --></div><!-- Page Body End --></div><!-- page-wrapper End -->


<!-- Modal Start --> {% include 'adminlogout.html.twig' %}<!-- Modal End -->



<!-- latest js --><script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"></script><!-- Bootstrap js --><script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- feather icon js --><script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script><script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script><!-- scrollbar simplebar js --><script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script><script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script><!-- Sidebar js --><script src="../App/public/template/back-end/assets/js/config.js"></script><!-- bootstrap tag-input js --><script src="../App/public/template/back-end/assets/js/bootstrap-tagsinput.min.js"></script><script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script><!-- customizer js --><script src="../App/public/template/back-end/assets/js/customizer.js"></script><!--Dropzon js --><script src="../App/public/template/back-end/assets/js/dropzone/dropzone.js"></script><script src="../App/public/template/back-end/assets/js/dropzone/dropzone-script.js"></script><!-- Plugins js --><script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script><script src="../App/public/template/back-end/assets/js/notify/index.js"></script><!-- ck editor js --><script src="../App/public/template/back-end/assets/js/ckeditor.js"></script><script src="../App/public/template/back-end/assets/js/ckeditor-custom.js"></script><!-- select2 js --><script src="../App/public/template/back-end/assets/js/select2.min.js"></script><script src="../App/public/template/back-end/assets/js/select2-custom.js"></script><!-- Theme js --><script src="../App/public/template/back-end/assets/js/script.js"></script> </body></html>
