<!DOCTYPE html>
<html lang="en" dir="ltr">

	{% include 'adminheader.html.twig' %}
	<body>
		<!-- tap on top start-->
		<div class="tap-top">
			<span class="lnr lnr-chevron-up"></span>
		</div>
		<!-- tap on tap end-->

		<!-- page-wrapper Start-->
		<div
			class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
			<!-- Page Header Start-->
			{% include 'pageheader.html.twig' %}
			<!-- Page Header Ends-->

			<!-- Page Body Start-->
				<div
				class="page-body-wrapper"> <!-- Page Sidebar Start-->
				{% include 'sidebar.html.twig' %}
				<!-- Page Sidebar Ends-->

				<!-- Order section Start -->
					<div class="page-body"> <div class="title-header">
						<h5>Rendelések</h5>
					</div>

					<!-- Table Start -->
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-body">
										<div>
											<div class="table-responsive table-desi">
												<table class="table table-striped all-package">
													<thead>
														<tr>
															<th style="position: absolute">Rendelés Id</th>
                                                            <th >Név</th>
															<th>Email</th>
															
															<th>Mikor</th>
															<th>Fizetésimód</th>
															<th>Állapot</th>
															<th>Cím</th>
															<th>Megjegyzés</th>
															<th>Módosít</th>
                                                            <th>Törlés</th>

														</tr>
													</thead>
													{% for order in orders %}
														<tr>
															<td >{{order.id}}</td>
															<td >{{order.nev}}</td>
															<td>{{order.email}}
															</td>
															<td>{{order.mikor}}
															</td>
															<td>{{order.megnevezes}}
															</td>
															<td>{{order.allapot}}
															</td>
															<td>{{order.cim}}
															</td>
															<td>{{order.megjegyzes}} 
															</td>
															<td clospan="2" >
																<a class='btn btn-warning' href='orderEdit/{{order.id}}'>
																	<i class=""></i>
																	Módosít</a>
																
															</td>
                                                            <td>
                                                            <a class='btn btn-danger' href='orderDelete/{{order.id}}'>
																	<i class=""></i>
																	Töröl</a> 
                                                            <td>

														{% endfor %}
													</table>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
						<!-- Table End -->


					</div>
					<!-- Order section End -->
				</div>
				<!-- Page Body End-->
			</div>
			<!-- page-wrapper End -->

			<!-- Modal start -->
			 {% include 'adminlogout.html.twig' %}
			<!-- Modal end -->

			<!-- latest js -->
			<script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"></script>

			<!-- Bootstrap js -->
			<script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

			<!-- feather icon js -->
			<script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
			<script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

			<!-- customizer js -->
			<script src="../App/public/template/back-end/assets/js/customizer.js"></script>

			<!-- scrollbar simplebar js -->
			<script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script>
			<script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script>

			<!-- Sidebar js -->
			<script src="../App/public/template/back-end/assets/js/config.js"></script>

			<!-- Plugins js -->
			<script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script>
			<script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
			<script src="../App/public/template/back-end/assets/js/notify/index.js"></script>

			<!-- all checkbox select js -->
			<script src="../App/public/template/back-end/assets/js/checkbox-all-check.js"></script>

			<!-- Theme js -->
			<script src="../App/public/template/back-end/assets/js/script.js"></script>
		</body>
	</body>
</html>
