<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include 'adminheader.html.twig' %}

<body>
    
    <!-- tap on top start-->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end-->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
      {% include 'pageheader.html.twig' %}
        <!-- Page Header Ends-->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
           <!-- Page Sidebar Start-->
          {% include 'sidebar.html.twig' %}
            <!-- Page Sidebar Ends-->

            <!-- Container-fluid starts-->
            <div class="page-body">
                
                <div class="title-header">
                    <h5 id="productlist">Termékek</h5>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-desi table-product ">
                                            <table class="table table-2d all-package">
                                                <thead>
                                                    <tr>
                                                        <th style="position: absolute">Id: Terméknév</th>
                                                     
                                                        <th> </th>
                                                        <th>Raktár készlet</th>
                                                        <th>Ár</th>
                                                        <th>Törölt</th>
                                                        <th>Műveletek</th>
                                                    </tr>
                                                </thead>
                                                
      {% for product in listproduct %}
			<tr>
            <td style="position: absolute">{{product.id}}</td>
				<td>{{product.megnevezes}}</td>
				<td>{{product.elerheto}} DB</td>
				<td>{{product.ar}} Huf</td>
                <td>{{product.torolt ? 'Igen': 'Nem'}}</td>
                <td>
                <a class='btn btn-warning' href='cipoEdit/{{product.id}}'> <i class=""></i> Módosít</a>
                <a class='btn btn-danger' href='cipoDelete/{{product.id}}'> <i class=""></i> Töröl</a>
            </td>
                                               

         
                                              
                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>

                           
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <div class="container-fluid">
                    <!-- footer start-->

                </div>
            </div>
        </div>
    </div>
    <!-- page-wrapper End-->

    <!-- Modal Start -->
     {% include 'adminlogout.html.twig' %}
    <!-- Modal End -->

    <!-- latest js -->
    <script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script>
    <script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="../App/public/template/back-end/assets/js/config.js"></script>

    <!-- customizer js -->
    <script src="../App/public/template/back-end/assets/js/customizer.js"></script>

    <!-- Plugins js -->
    <script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script>
    <script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="../App/public/template/back-end/assets/js/notify/index.js"></script>

    <!-- Theme js -->
    <script src="../App/public/template/back-end/assets/js/script.js"></script>
</body>

</html>