<!DOCTYPE html>
<html lang="en">

	{% include 'links.html.twig' %}

	<body
		class="theme-color2 light ltr">

		<!-- header start -->
		{% include 'header.html.twig' %}
		<!-- header end -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			window.onload = function () {
let sum = 0;
let cartPrices = document.querySelectorAll(".td-color > #cart-list.price");
cartPrices.forEach(function (cartPrice) {
sum += parseInt(cartPrice.textContent);
});
console.log("Total price:", sum);
}
		</script>


		<!-- Breadcrumb section start -->
		<section class="breadcrumb-section section-b-space">
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3>Kosár</h3>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/allproduct">
										<i class="fas fa-home"></i>
									</a>
								</li>

							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb section end -->

		<!-- Cart Section Start -->
		<section class="cart-section section-b-space">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="count-down"></div>
					</div>

					<div class="col-sm-12 table-responsive mt-4">
						<table class="table cart-table">
							<thead>
								<tr class="table-head">
									<th scope="col"></th>
									<th scope="col">Megnevezes</th>
									<th scope="col">Ár</th>
									<th scope="col">Darab</th>
									<th scope="col">Törlés</th>
									<th scope="col">Összesen</th>
								</tr>
							</thead>

							{% set total_price = 0 %}
							{% for buyproduct in cart %}
								<tbody>
									<tr>
										<td>
											<a href = 'openProduct/{{buyproduct.id}}'>
												<img src="{{ '/App/Public/template/front-end/assets/images/shoes/product/' ~ buyproduct.fnev }}" class="lazyload" alt="">
											</a>
										</td>
										<td>
											<a href = 'openProduct/{{buyproduct.id}}'>{{buyproduct.megnevezes}}</a>
											<div class="mobile-cart-content row">
												<div class="col">
													<div class="qty-box">
														<div class="input-group">
															<input type="text" name="quantity" class="form-control input-number" value="1">
														</div>
													</div>
												</div>
												<div class="col">
													<h2>{{buyproduct.ar}}</h2>
												</div>
												<div class="col">
													<h2 class="td-color">
														<a href="javascript:void(0)">
															<i class="fas fa-times"></i>
														</a>
													</h2>
												</div>
											</div>
										</td>
										<td>
											<h2>{{buyproduct.ar}}
												Ft</h2>
										</td>
										<td>
											<div class="qty-box">
												<div class="input-group">
													<form action="/cart-edit" method="POST" id="edit-{{buyproduct.id}}">
														<input type="hidden" name="id" value="{{buyproduct.id}}" />
														<input type="number" id="qty-{{buyproduct.id}}" name="quantity" class="form-control input-number" value="{{buyproduct.kosarMennyiseg}}" min="1"
														onchange="editQty({{buyproduct.id}})">
													</form>
												</div>
											</div>
										</td>
										<td>
											<form action="/cart-remove" method="POST">
												<input type="hidden" name="id" value="{{buyproduct.id}}" />
												<button style="background-color: transparent; outline: none; border: none;"><i class="fas fa-times"></i></button>
											</form>
										</td>
										<td>
											{% set product_price = buyproduct.ar * buyproduct.kosarMennyiseg %}
											{% set total_price = total_price + product_price %}
											<h2 id="cart-list price" class="td-color">
												{{product_price}}
											</h2>
										</td>
									</tr>
								</tbody>
							{% endfor %}


						</table>


					</div>

					<div class="col-12 mt-md-5 mt-4">
						<div class="row">
							<div class="col-sm-7 col-5 order-1">
								<div class="left-side-button text-end d-flex d-block justify-content-end">
									<a href="/cartclear" class="text-decoration-underline theme-color d-block text-capitalize">Kosár Törlése</a>
								</div>
							</div>
							<div class="col-sm-5 col-7">
								<div class="left-side-button float-start">
									<a href="javascript:history.go(-2)" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
										<i class="fas fa-arrow-left"></i>Folytatom a vásárlást</a>
								</div>
							</div>
						</div>
					</div>

					<div class="cart-checkout-section">
						<div class="row g-4">
							<div class="col-lg-4 col-sm-6">
								<div class="promo-section"></div>
							</div>

							<div class="col-lg-4 col-sm-6 ">
								<div class="checkout-button">
									<a href="/chechkout" class="btn btn-solid-default btn fw-bold">
										Tovább a fizetéshez
										<i class="fas fa-arrow-right ms-1"></i>
									</a>
								</div>
							</div>


							<div class="col-lg-4">
								<div class="cart-box">
									<div class="cart-box-details">
										<div class="total-details">
											<div class="top-details">
												<h3>Kosár Összege</h3>

												<h6>Összeg<span class="cart-price">{{ total_price }}
														Ft</span>
												</h6>


											</div>
											<div class="bottom-details">
												<a href="/chechkout">Fizetés</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Cart Section End -->


		<!-- footer start -->
		{% include 'footer.html.twig' %}
		<!-- footer end -->

		<!-- theme Setting Start -->
			<div class="theme-setting"> <ul>
	<li>
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
			<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
			<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
		</svg>
		</button>
	</li>


</ul>
		</div>
		<!-- theme Setting End -->

		<!-- tap to top Section Start -->
		<div class="tap-to-top">
			<a href="#home">
				<i class="fas fa-chevron-up"></i>
			</a>
		</div>
		<!-- tap to top Section End -->

		<div class="bg-overlay"></div>

		<!-- latest jquery-->
		<script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script>

		<!-- Add To Home js -->
		<script src="/App/Public/template/front-end/assets/js/pwa.js"></script>

		<!-- Bootstrap js -->
		<script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

		<!-- feather icon js -->
		<script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script>

		<!-- lazyload js -->
		<script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script>

		<!-- Slick js -->
		<script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script>
		<script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script>
		<script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script>

		<!-- timer js -->


		<!-- Notify js -->
		<script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script>

		<!-- script js -->
		<script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script>
		<script src="/App/Public/template/front-end/assets/js/script.js"></script>
		<script>
			let timeout;
			function editQty(id){
				clearTimeout(timeout);
				timeout = setTimeout(() => {
				document.getElementById(`edit-${id}`).submit();
				}, 500);
			}
		</script>
	</body>

</html>
