<!DOCTYPE html>
<html lang="en">

	{% include 'links.html.twig' %}

	<body class="theme-color3 light ltr">

		{% include 'header.html.twig' %}
		


		<!-- home slider start -->
		<section class="pt-0 overflow-hidden category-color ">
			<div>
				<div
					class="banner-slider box-arrow">
					<!-- Slider 1 Start -->
					<div class="banner-poster">
						<div class="slider-right-detail">
							<div class="labels">
								<ul class="label-15">

									<li>
										<a href="https://www.instagram.com/p/CiaNS0INgy2/" target="_blank">
											<img src="/App/Public/template/front-end/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload" alt="Instagram">
											<h5 class="d-lg-block d-none">Instagram</h5>
										</a>
									</li>

								</ul>
							</div>

						</div>

						<div class="slider-bg">
							<div class="bg-text">
								<span>nike shoes</span>
							</div>

							<div class="bg-circle theme-color d-block"></div>
							<img src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep.png" class="shoes-1 img-fluid blur-up lazyload" alt="">
						</div>

						<div class="sugestion-product d-xl-block d-none">
							<h3>Ajánlott</h3>


							<a href="/allproductnike" class="slider-shoes-image d-block">
								<div class="relative-shoes">
									<img src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep.png" class="img-fluid blur-up lazyload" alt="">
									<div class="shoes-price">
										<h5>129.000 Ft</h5>
										<h6>Nike Dunk Low UsC</h6>

									</div>
								</div>
							</a>
						</div>

						<div class="price-number">
							<h2>65.000 Ft</h2>
							<h6>Több méretben is elérhető</h6>
						</div>

						<div class="slider-arrow-2">
							<div class="left-arrow d-lg-block d-none"></div>
							<div class="right-arrow d-lg-block d-none"></div>
						</div>
					</div>
					<!-- Slider 1 End -->

					<!-- Slider 2 Start -->
					<div class="banner-poster">
						<div class="slider-right-detail">
							<div class="labels">
								<ul class="label-15">

									<li>
										<a href="https://www.instagram.com/boro_plug/">
											<img src="/App/Public/template/front-end/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload" alt="Instagram">
											<h5 class="d-lg-block d-none">Instagram</h5>
										</a>
									</li>

								</ul>
							</div>

						</div>

						<div class="slider-bg">
							<div class="bg-text">


								<span>nike shoes</span>


							</div>

							<div class="bg-circle theme-color d-block"></div>
							<img class="shoes-1 img-fluid blur-up lazyload" alt="" src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep2.png">
						</div>

						<div class="sugestion-product d-xl-block d-none">
							<h3>Ajánlott</h3>


							<a href="/allproductnike" class="slider-shoes-image d-block">
								<div class="relative-shoes">
									<img src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep2.png" class="img-fluid blur-up lazyload" alt="">
									<div class="shoes-price">
										<h5>50.000 Ft</h5>
										<h6>Nike Dunk Low UcLa</h6>

									</div>
								</div>
							</a>
						</div>

						<div class="price-number">
							<h2>50.000 Ft
							</h2>
							<h6>Több méretben is elérhető</h6>
						</div>

						<div class="slider-arrow-2">
							<div class="left-arrow d-lg-block d-none"></div>
							<div class="right-arrow d-lg-block d-none"></div>
						</div>
					</div>
					<!-- Slider 2 End -->
					

					<!-- Slider 3 Start -->
					<div class="banner-poster">
						<div class="slider-right-detail">
							<div class="labels">
								<ul class="label-15">

									<li>
										<a href="https://www.instagram.com/p/Cgj9XX6tVLH/">
											<img src="/App/Public/template/front-end/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload" alt="Instagram">
											<h5 class="d-lg-block d-none">Instagram</h5>
										</a>
									</li>

								</ul>
							</div>

						</div>

						<div class="slider-bg">
							<div class="bg-text">


								<span>nike shoes</span>


							</div>

							<div class="bg-circle theme-color d-block"></div>
							<img class="shoes-1 img-fluid blur-up lazyload" alt="" src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep3.png">
						</div>

						<div class="sugestion-product d-xl-block d-none">
							<h3>Ajánlott</h3>


							<a href="/allproductnike" class="slider-shoes-image d-block">
								<div class="relative-shoes">
									<img src="/App/Public/template/front-end/assets/images/shoes/kesz_slider_kep3.png" class="img-fluid blur-up lazyload" alt="">
									<div class="shoes-price">
										<h5>115.000 Ft</h5>
										<h6>Nike Dunk Low Court Purple</h6>

									</div>
								</div>
							</a>
						</div>

						<div class="price-number">
							<h2>115.000 Ft
							</h2>
							<h6>Egy méretben elérhető</h6>
						</div>

						<div class="slider-arrow-2">
							<div class="left-arrow d-lg-block d-none"></div>
							<div class="right-arrow d-lg-block d-none"></div>
						</div>
					</div>
					<!-- Slider 3 End -->
				</div>
			</div>
		</section>
		<!-- home slider end -->


		<!-- Poster Section Start -->

		<!-- Poster Section End -->

		<!-- New Arrival Section Start -->
			<section class="ratio_asos banner-style-2 offer-banner section-b-space "> <div class="container-fluid p-sm-0 ">
				<div class="row m-0">
					<div class="col-sm-12 p-0">
						<div class="border-0 border-light w-100 title title-2 text-center customimg">
							<h2>Ajánlott termékek</h2>
						</div>
						<div class="product-wrapper slide-6 team-leader-section">


							<table class="table table-hover mt- text-center custom-gy-5 product-style-2 ratio_asos product-list-section ">
								{% for product in allproduct %}
									{% if product.osszes_elerheto > 8 and product.torolt != 1  %}
										<div class="box  ">

											<div class=" float-start " style="width:auto ; font-size:10vw ; height 500px">

												<div class="d-inline-block d-flex align-content-center flex-wrap text-break  text-uppercase box shadow-sm ">


													<img class="card-img-top span4 rounded " src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev}} alt="Card image cap">


													<div class="card-body    category-color ">

														<h4 class="card-text" style="height:40px;">
															{{product.megnevezes}}</h4>


														<p class="text-center">
															{{product.markanev}}
														</p>

														<p class="text-center">
															{{product.allapot}}</p>

														<p class="text-center">
															{{product.ar}}
															Ft</p>
														<p class="text-center">
															<button onclick="location.href = 'openProduct/{{product.id}}';" type="button" style="width:10rem" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">Kosárba</button>
														</p>
													</div>


												</div>

											</div>
										</div>


									{% endif %}
								{% endfor %}


							</table>


						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- New Arrival Section End -->


		<!-- Banner Style 2 Section Start -->


		<section class="banner-style-2 offer-banner  ">


			<div class="container  ">

				<div>
					<div class="border-0 border-light w-100 title title-2 text-center  ">
						<h2>A mi kedvenceink</h2>
					</div>

					<div class=" team-leader-section  product-wrapper leader-section slick-lg-space slide-5_1 ratio_asos p-25">

						{% for product in allproduct %}
							{% if product.megnevezes == "Nike Dunk Low EMB Chicago" %}

								<div>
									<div class="leader-contain">
										<div class="leader-image">
											<img src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev}} class="img-fluid " alt="">
											<a href='openProduct/{{product.id}}' class="text-center">
												<ul class="text-white no-padding social-media">
													<h5>Megnézem</h5>
												</ul>
											</a>
										</div>
										<div class="leader-contain">
											<h3>{{product.megnevezes}}</h3>
											<h4 class="theme-color d-block">{{product.ar}}
												Ft</h4>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						{% for product in allproduct %}
							{% if product.megnevezes == "Nike Jordan 1 High Mocha" %}
								<div>
									<div class="leader-contain">
										<div class="leader-image">
											<img src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev}} class="img-fluid " alt="">
											<a href='openProduct/{{product.id}}' class="text-center">
												<ul class="text-white no-padding social-media">
													<h5>Megnézem</h5>
												</ul>
											</a>
										</div>
										<div class="leader-contain">
											<h3>{{product.megnevezes}}</h3>
											<h4 class="theme-color d-block">{{product.ar}}
												Ft</h4>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						{% for product in allproduct %}
							{% if product.megnevezes == "Nike Jordan 1 Coconut Milk" %}
								<div>
									<div class="leader-contain">
										<div class="leader-image">
											<img src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev}} class="img-fluid " alt="">
											<a href='openProduct/{{product.id}}' class="text-center">
												<ul class="text-white no-padding social-media">
													<h5>Megnézem</h5>
												</ul>
											</a>
										</div>
										<div class="leader-contain">
											<h3>{{product.megnevezes}}</h3>
											<h4 class="theme-color d-block">{{product.ar}}
												Ft</h4>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}


					</div>
				</div>
			</div>
		</div>
	</body>
</html></section><!-- Banner Style 2 Section End --><!-- category section start --><section class="category-section">
<div class="container-fluid">
	<div class="row">
		<div class="border-0 border-light  w-100 title title-2 text-center customimg" style="height:40px;vertical-align: inherit;">
			<h2>Utolsó darabok</h2>
		</div>
	</div>

	<div class="category-wrapper category-slider white-arrow  team-leader-section">


		{% for product in allproduct %}
			{% if product.osszes_elerheto <= 3 and product.torolt != 1  %}

				<div class="border-0 shadow">
					<a href='openProduct/{{product.id}}'>
						<img src="{{ '/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev }}" class="card-img-top" alt="product image">

					</a>
					<div class="card-body">
						<h5 class="card-title text-truncate">{{ product.megnevezes }}</h5>
						<p class="theme-color card-text">{{ product.ar }}
							Ft</p>
					</div>
				</div>

			{% endif %}
		{% endfor %}


	</div>
</div></section><!-- category section end --><!-- product section start --><section class="ratio_asos ">

<div class="container">

	<div class="row m-0">
		<div class=" border-0 border-light w-100 title title-2 text-center">
			<h2>Igazi Ritkaságok</h2>
		</div>

		<div class="col-sm-12 p-0 ">

			<div class="slide-4">
				<table class="table table-hover mt- text-center custom-gy-5 product-style-2 ratio_asos product-list-section">
					{% for product in allproduct %}
					
						{% if product.ar > 99999 and product.torolt != 1  %}
							<div class="box ">

								<div class=" float-start " style=" font-size:10vw ; ">

									<div class="shadow d-inline-block d-flex align-content-center flex-wrap text-break  text-uppercase box ">

										<img class="card-img-top span4" src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ product.fnev}} alt="Card image cap">


										<div class="card-body  text-center">

											<h4 class=" my-3 deal-text card-title text-break name sku" style="height:40px;">
												{{product.megnevezes}}</h4>


											<p class="card-text">
												{{product.markanev}}
											</p>

											<p class="card-text">
												{{product.allapot}}</p>

											<p class="card-text">
												{{product.ar}}
												Ft</p>
											<p class="card-text ">
												<form action="https://google.com">
													<button onclick="location.href = '/openProduct/{{product.id}}';" type="button" style="width:10rem" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">Kosárba</button>
												</form>

											</p>
										</div>


									</div>

								</div>
							</div>


						
						{% endif %}
					{% endfor %}


				</table>
			</div>
		</div>
	</div>
</div></section><!-- product section end --><!-- Deal Day Section Start --><section class="deal-section section-b-space">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="discount-image-details">
				<div class="discount-images">
					<div class="theme-circle"></div>

					<img src="/App/Public/template/front-end/assets/images/shoes/deal/special-deal.png" alt="" class="img-fluid shoes-images-1 blur-up lazyload">
					<img src="/App/Public/template/front-end/assets/images/shoes/deal/special-deal.png" alt="" class="img-fluid shoes-images-2 blur-up lazyload">
				</div>

				<div class="discunt-details mt-xl-0 mt-4">
					<div>
						<div class="heart-button">
							<i class="fas fa-heart theme-color"></i>
						</div>

						<h2 class="my-3 deal-text">Év ajánlata
							<br><span class="theme-color">280.000 Ft</span>
						</h2>
						<div class="timer-style-2 mt-xl-1 my-2 justify-content-center d-flex">
							<ul>
								<li>
									<div class="counter">
										<div>
											<h2 id="days1" class="theme-color"></h2>Days
										</div>
									</div>
								</li>
								<li>
									<div class="counter">
										<div>
											<h2 id="hours1" class="theme-color"></h2>Hour
										</div>
									</div>
								</li>
								<li>
									<div class="counter">
										<div>
											<h2 id="minutes1" class="theme-color"></h2>Min
										</div>
									</div>
								</li>
								<li>
									<div class="counter">
										<div>
											<h2 id="seconds1" class="theme-color"></h2>Sec
										</div>
									</div>
								</li>
							</ul>
						</div>
						{% for product in allproduct %}
							{% if product.id == 76 %}
								<button onclick="location.href = 'openProduct/{{product.id}}';" type="button" class="btn default-light-theme default-theme mt-2">Megnézem</button>

							{% endif %}
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div></section><!-- Deal Day Section end --><!-- brand section start --><section class="section-b-space banner-style-2 offer-banner section-b-space team-leader-section">
<div class="container">
	<div class="row">
		<div class="col">
			<div class="brand-slider  ">
				<div>
					<div class="brand-image ">
						<img src="/App/Public/template/front-end/assets/images/brand/brandnike.png" class=" blur-up lazyload " style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandadidas.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandjordan.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandbalenciaga.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandoffwhite.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandsupreme.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
				<div>
					<div class="brand-image">
						<img src="/App/Public/template/front-end/assets/images/brand/brandlw.png" class=" blur-up lazyload" style="width:3rem" alt="brand logo">
					</div>
				</div>
			</div>
		</div>
	</div>
</div></section><!-- brand section end -->{% include 'footer.html.twig' %}<!-- theme Setting Start --><div class="theme-setting">
<ul>
	<li>
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
			<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
			<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
		</svg>
		</button>
	</li>


</ul>
<script>


</script>

</div><!-- theme Setting StaEndrt --><!-- tap to top Section Start --><div class="tap-to-top">
<a href="#home">
	<i class="fas fa-chevron-up"></i>
</a></div><!-- tap to top Section End --><div class="bg-overlay"></div><!-- latest jquery--><script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script><!-- Bootstrap js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- feather icon js--><script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script><!-- lazyload js--><script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script><!-- Add To Home js --><script src="/App/Public/template/front-end/assets/js/pwa.js"></script><!-- Timer Js --><script src="/App/Public/template/front-end/assets/js/timer1.js"></script><!-- Slick js--><script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script><script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script><script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script><!-- newsletter js --><script src="/App/Public/template/front-end/assets/js/newsletter.js"></script><!-- add to cart modal resize --><script src="/App/Public/template/front-end/assets/js/cart_modal_resize.js"></script><!-- Notify js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script><!-- script js --><script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script><script src="/App/Public/template/front-end/assets/js/script.js"></script></body></html></body></html>
