<!DOCTYPE html>
<html lang="en">

	{% include 'links.html.twig' %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<body class="theme-color2 light ltr">


		{% include 'header.html.twig' %}


		<!-- Breadcrumb section start -->
		<section class="breadcrumb-section section-b-space">
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3>Nike cipők</h3>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/allproduct">
										<i class="fa fa-home"></i>
									</a>
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb section end -->


		<!-- Shop Section start -->
		<section class="section-b-space">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 category-side col-md-4">
						<div class="category-option">
							<div class="button-close mb-3">
								<button class="btn p-0">
									<i data-feather="arrow-left"></i>
									Close</button>
							</div>
							<div class="accordion category-name" id="accordionExample">
								<div class="accordion-item category-rating">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
											Keresés
										</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
										<input type="text" id="search" class="form-control" placeholder="Keresés...">
									</div>
								</div>


								<div class="accordion-item category-price">
									<h2 class="accordion-header" id="headingFour">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">Ár</button>
									</h2>
									<div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
										<div class="filter-container">
											<form id="price-filter">
												<div class="form-group">

													<input type="number" value="" class="form-control" id="min-price" name="min-price" placeholder="Min ár">
												</div>
												<div class="form-group">

													<input type="number" value="10000000" class="form-control" id="max-price" name="max-price" placeholder="Max ár">
												</div>
												<button type="submit" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">Szűrés</button>
											</form>
										</div>
									</div>
								</div>

								<div class="accordion-item category-price">
									<h2 class="accordion-header" id="headingFive">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
											Méret
										</button>
									</h2>

									<div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
										<div class="accordion-body">

											{% for search in filterOptions %}

												<ul class="category-list">

													<div class="form-check ps-0 custome-form-check p-1">
														<input class="checkbox_animated check-it" type="checkbox" id="size-{{search.meret}}" value="{{search.meret}}">
														<label for="{{search.meret}}">{{search.meret}}</label>

													</div>

												</ul>


											{% endfor %}


										</div>

									</div>
								</div>


							</div>
						</div>
					</div>


					<div
						class="category-product col-lg-9 col-12 ratio_30">
						<!-- filter button -->
						<div class="hide-button d-flex mb-3">
							<button class="btn hide-btn">
								<span class="d-lg-inline-block d-none">Szűrő elrejtése</span>
								<span class="d-lg-none d-inline-block">Szűrő megjelenítése</span>
							</button>
						</div>
						<!-- filter button -->
						<div class="row g-4">


							<div class="col-12">
								<div class="filter-options">
									<div class="select-options">
										<div class="page-view-filter">
											<div class="dropdown select-featured">
												


											</div>
										</div>

									</div>


								</div>
							</div>
						</div>
						<!-- label and featured section -->

						<!-- Prodcut setion -->
						<div class="row g-sm-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">


							<div class="container img-fluid w-100 ">

								<table class=" glowbg  table table-hover mt- text-center  ratio_asos product-list-section ">
									<div id="product-list">
										{% for nikes in allproductnike %}
											{% if nikes.markanev == 'Nike' and nikes.torolt != 1 %}


												<div class=" shoe-box color " ar="{{nikes.ar}}">

													<div class="glowbg float-start box  p-1 shadow-sm mx-auto" style="width:11rem; font-size:10vw; height:500px">
														<div class="d-inline-block d-flex align-content-center flex-wrap text-break text-uppercase box grid-content">

															<style>
																.customimg {
																	border-top-left-radius: calc(0.20rem - 1px);
																	border-top-right-radius: calc(0.20rem - 1px);
																	width: 100%;


																}
															</style>
															<img style="" class="customimg border-0" src={{'/App/Public/template/front-end/assets/images/shoes/product/' ~ nikes.fnev}} alt="Card image cap">
															<div class="products filter-content">

																<h5 class="text-break name sku " style="height:40px;">{{nikes.megnevezes}}</h5>

																<p></p>
																<p class="card-text">{{nikes.markanev}}</p>
																<p class="card-text">{{nikes.allapot}}</p>

																<p class=" card-text size" datasize="{{nikes.meretek}}">{{nikes.meretek}}</p>

																<p id="product-list" data-price="{{nikes.ar}}" class="card-text theme-color ">{{nikes.ar}}
																	Ft</p>
																<p class="card-text">
																	{% if nikes.osszes_elerheto >= 1 %}

																		<button onclick="location.href = 'openProduct/{{nikes.id}}';" type="button" style="width:10rem" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">Kosárba</button>


																	{% else %}


																		<button onclick="location.href = 'openProduct/{{nikes.id}}';" type="button" style="width:10rem" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">Nem rendelhető</button>


																	{% endif %}
																</p>
															</div>
														</div>
													</div>

												</div>


											{% endif %}
										{% endfor %}
									</div>
								</table>

							</div>


							<!-- Prodcut setion -->
						</div>

						<nav class="page-section">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="javascript:void(0)" aria-label="Previous">
										<span aria-hidden="true">
											<i class="fas fa-chevron-left"></i>
										</span>
									</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="javascript:void(0)">1</a>
								</li>

								<li class="page-item">
									<a class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<i class="fas fa-chevron-right"></i>
										</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</body>
	</body>
</html></section><!-- Shop Section end -->{% include 'footer.html.twig' %}<!-- Cart Successful Start --><!-- Cart Successful End --><!-- theme Setting Start -->
 
<div class="theme-setting">

 <ul>
	<li>
	
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
				<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
				<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
			</svg>
		</button>
	</li>


</ul>

</div><!-- theme Setting StaEndrt --><!-- tap to top Section Start --><div class="tap-to-top">
<a href="#home">
	<i class="fas fa-chevron-up"></i>

</a></div><!-- tap to top Section End --><!-- latest jquery--><script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script><!-- Add To Home js --><script src="/App/Public/template/front-end/assets/js/pwa.js"></script><!-- Bootstrap js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- feather icon js--><script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script><!-- lazyload js--><script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script><!-- Slick js--><script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script><script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script><script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script><!-- Price Filter js --><script src="/App/Public/template/front-end/assets/js/price-filter.js"></script><!--Plugin JavaScript file--><script src="/App/Public/template/front-end/assets/js/ion.rangeSlider.min.js"></script><!-- Filter Hide and show Js --><script src="/App/Public/template/front-end/assets/js/filter.js"></script><!-- Notify js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script><!-- script js --><script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script><script src="/App/Public/template/front-end/assets/js/script.js"></script></body></html>
