<!-- header start -->
<header id="home">
	<div class="top-header">
		<div class="container-fluid-lg">
			<div class="row"></div>
		</div>
	</div>
	<div class="main-header navbar-searchbar">
		<div class="container-fluid-lg">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-menu">
						<div class="menu-left">
							<div class="brand-logo">
								<a href="/allproduct">
									<svg class="svg-icon">
										<use style="width:5rem" class="fill-color" xlink:href="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg"></use>
									</svg>
									<img style="width:5rem" src="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg" class="img-fluid  lazyload" alt="logo">
								</a>
							</div>
							<div class="category-menu">
								<button type="button" class="btn btn-solid-default toggle-category d-sm-block d-none">
									menü
									<i class="fas fa-chevron-down d-xl-inline-block d-none"></i>
								</button>
								<div class="category-dropdown">
									<div class="close-btn d-xl-none">
										Menü
										<span class="back-category">
											<i class="fa fa-angle-left"></i>
										</span>
									</div>
									<ul>

										<li>
											<a href="/allproductnike">Nike</a>
										</li>


										<li>
											<a aria-current="page" href="/allproductadidas">adidas</a>
										</li>
										<li>
											<a href="/frogotten">Egyéb</a>
										</li>
										<li class="submenu">
											<a href="javascript:void(0)">Fiókom</a>

											<ul class="category-mega-menu">
												<li>
													<div class="row">
														<div class="col-xl-3">

															<ul>

																<li>
																	<a href="/login">belépés</a>
																</li>
															</ul>
															<ul>
																<li>
																	<a href="/logout">Kilepes</a>
																</li>
															</ul>
															<ul>
																<li>
																	<a href="/profilData">Fiókom</a>
																</li>
															</ul>
															<ul>

																<li>
																	<a href="/register">regisztráció</a>
																</li>
															</ul>
															<div class="col-xl-3"></div>
														</div>
													</li>
												</li>
											</ul>
										</li>


									</ul>
								</div>
							</div>
						</div>
						<nav>
							<div class="main-navbar">
								<div id="mainnav">
									<div class="toggle-nav me-3">
										<i class="fa fa-bars sidebar-bar"></i>
									</div>
									<ul class="nav-menu">
										<li class="back-btn d-xl-none">
											<div class="close-btn">
												Menu
												<span class="mobile-back">
													<i class="fa fa-angle-left"></i>
												</span>
											</div>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0)" class="nav-link menu-title">nike</a>
											<ul class="nav-submenu menu-content">
												<li>
													<a href="/allproductnike">Nike cipők</a>
												</li>
												<li>
													<a href="/frogotten">Egyéb nike termékek</a>
												</li>


											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0)" class="nav-link menu-title">adidas</a>
											<ul class="nav-submenu menu-content ">
												<li>
													<a aria-current="page" href="/allproductadidas">Adidas cipők</a>
												</li>
												<li>
													<a href="/frogotten">Egyéb adidas termékek</a>
												</li>


											</ul>
										</li>

										<li>
											<a href="/frogotten" class="nav-link menu-content">
												<div class="">Kiegészítők</div>


											</a>

											<div class=" menu-content"></li>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0)" class="nav-link menu-title">fiókom</a>
											<ul class="nav-submenu menu-content">
												<li>
													<a href="/login">Belépés</a>
												</li>
												<li>
													<a href="/logout">Kilepes</a>
												</li>
												<li>
													<a href="/profilData">Fiókom</a>
												</li>
												<li>
													<a href="/register">Regisztráció</a>
												</li>

											</ul>
										</li>

									</ul>
								</div>
							</div>
						</nav>
						<div class="menu-right">
							<ul>


								<li class="onhover-dropdown cart-dropdown">
									<button type="button" class="btn btn-solid-default btn-spacing">
										<i data-feather="shopping-cart" class="pe-2"></i>
										<span id="total-price"></span>
									</button>
									<div class="onhover-div">
										<div class="cart-menu">
											<div class="cart-title">
												<h6>
													<i data-feather="shopping-bag"></i>
													<span id="total-quanty" class="label label-theme rounded-pill"></span>
												</h6>
												<span class="d-md-none d-block">
													<i class="fas fa-arrow-right back-cart"></i>
												</span>
											</div>
											<ul class="custom-scroll" id="shoe-list">
												{% for cartproducts in cart %}
													<li>
														<div class="media">
															<img src="{{ '/App/Public/template/front-end/assets/images/shoes/product/' ~ cartproducts.fnev }}"  class="img-fluid  lazyload" alt="">
															<div class="media-body">
																<p class="p-0">{{cartproducts.megnevezes}}
																</p>
																<span>{{cartproducts.meret}}
																	</span>
																<div class="qty-with-price">
																	
																	<span id="shoe-list">{{cartproducts.ar}}
																		Ft</span>
																	<span id="shoe-quanty">
																		<input type="number" class="form-control" value="{{cartproducts.kosarMennyiseg}}">
																		<p class="hidden">{{cartproducts.kosarMennyiseg}}</p>

																	</span>
																</div>
															</div>
															<button type="button" class="btn-close d-block d-md-none" aria-label="Close">
																<i class="fas fa-times"></i>
															</button>
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>


										<div class="cart-btn">
											<h6 class="cart-total">
												<span id="total-price"></span>
												Ft</h6>
											<button onclick="location.href = '/cart';" type="button" class="btn btn-solid-default btn-block">
												Kosaram
											</button>
										</div>
									</div>

								</li>
							</ul>
						</div>
						<!--<div class="search-full">
																					<div class="input-group">
																					
																						<span class="input-group-text">
																							<i data-feather="search" class="font-light"></i>
																						</span>
																						<input type="text" class="form-control search-type" placeholder="Keresés...">
																						<span class="input-group-text close-search">
																							<i data-feather="x" class="font-light"></i>
																						</span>
																					</div>
																					<div class="search-suggestion">
																						<ul class="custom-scroll">
																							<li>
																								<div class="product-cart media">
																									<img src="assets/images/electronics/product/1.jpg" class="img-fluid blur-up lazyload" alt="">
																									<div class="media-body">
																										<a href="javascript:void(0)">
																											<h6 class="mb-1">Latest Sports Shoes</h6>
																										</a>
																										<ul class="rating mt-1">
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star"></i>
																											</li>
																											<li>
																												<i class="fas fa-star"></i>
																											</li>
																										</ul>
																										<p class="mb-0 mt-1">$28.00</p>
																									</div>
																								</div>
																							</li>
																							<li>
																								<div class="product-cart media">
																									<img src="assets/images/electronics/product/5.jpg" class="img-fluid blur-up lazyload" alt="">
																									<div class="media-body">
																										<a href="javascript:void(0)">
																											<h6 class="mb-1">Powermatic 900 W Juicer</h6>
																										</a>
																										<ul class="rating mt-1">
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																											<li>
																												<i class="fas fa-star theme-color"></i>
																											</li>
																										</ul>
																										<p class="mb-0 mt-1">$35.00</p>
																									</div>
																								</div>
																							</li>
																						</ul>
																					</div>
																				</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header end -->
<!-- mobile fix menu start -->
<div class="mobile-menu d-sm-none">
	<ul>
		<li><a href="/allproduct"><i data-feather="home"></i><span>Home</span></a></li>
		<li><a href="javascript:void(0)" class="toggle-category"><i data-feather="align-justify"></i><span>Kategóriák</span></a></li>
		<li><a href="/cart"><i data-feather="shopping-bag"></i><span>Kosár</span></a></li>
		
		<li><a href="/profilData"><i data-feather="user"></i><span>Fiókom</span></a></li>
	</ul>
</div>
<!-- mobile fix menu end -->
